{% include 'admin/admin_base.html.twig' %}

{% block main %}

    <h1 class="title"><i class="fas fa-user"></i> <u>Author</u></h1>

    <div class="content_authors">
        {% for author in authors %}
        <a href="{{ path('author_show', {'id': author.id}) }}">
            <div class="admin_authors">
                <h2>{{ author.firstname }}</h2>
                <h2>{{ author.lastname }}</h2>
                <p>Date de naissance : {{ author.birthdate|date("d F Y") }}</p>
                <p>Date de décès : {{ author.deathdate|date("d F Y") }}</p>
                <div class="sup_mod">
                    <a class="supprimer" href="{{ path('admin_author_delete', {'id': author.id}) }}"><i class="fas fa-trash-alt"></i> Supprimer l'auteur</a>
                    <a class="modifier" href="{{ path('admin_author_update', {'id': author.id})}}"><i class="far fa-edit"></i> Modifier l'auteur</a>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="bouton">
        <a class="ajouter" href="{{ path('admin_author_insert')}}"><i class="fas fa-plus-circle"></i> Ajouter un auteur</a>
    </div>


{% endblock main %}