{# J'ETEND LA "basse.html.twig" POUR RECUPERER LA STRUCTURE COMMUNE#}
{% extends 'base.html.twig' %}

{# JE DEFINIS LE CONTENU SPECIFIQUE DE MON "block authors"#}
{% block author_show %}

    <div class="author_show">
        {# DECLARATION DE LA VARIABLE "author.lastname" POUR RECUPERER LES LASTNAME DE MA BASE DE DONNEE#}
        <h2>{{ author.lastname }}</h2>

        {# DECLARATION DE LA VARIABLE "author.firstname" POUR RECUPERER LES FIRSTNAME DE MA BASE DE DONNEE#}
        <h3>{{ author.firstname }}</h3>

        {# DECLARATION DE LA VARIABLE "author.birthdate" POUR RECUPERER LA DATE DE NAISSANCE DE MA BASE DE DONNEE#}
        <p><u>Date naissance</u> : {{ author.birthdate|date("d F Y") }}</p>

        {# DECLARATION DE LA VARIABLE "author.birthdate" POUR RECUPERER LA DATE DE DECES DE MA BASE DE DONNEE#}
        <p><u>Date décès</u> : {{ author.deathdate|date("d F Y") }}</p>
        <br>
        {# DECLARATION DE LA VARIABLE "author.biography" POUR RECUPERER LA BIOGRAPHIE DE MA BASE DE DONNEE#}
        <p><u>Biographie</u> : <br>{{ author.biography }}</p>
    </div>
    <a href="{{ path('authors_list') }}" class="button">Retour</a>

{% endblock author_show %}
