{# J'ETEND LA "basse.html.twig" POUR RECUPERER LA STRUCTURE COMMUNE#}
{% extends 'base.html.twig' %}

{# JE DEFINIS LE CONTENU SPECIFIQUE DE MON "block content"#}
{% block content %}

   <h1 class="title">Les {{ 'genre' }} de ma bibliothèque : </h1>
    <div class="contour">
        {%  for book in books %}
            <div class="books">
                <a href="{{ path('book_show', {'id': book.id}) }}">
                    <p>Titre : {{ book.title }}</p>
                    <p>Genre : {{ book.genre }}</p>
                </a>
            </div>
        {%  endfor %}
    </div>

    <a href="{{ path('books_list') }}" class="button">Retour</a>

{% endblock content %}